<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII DARBY</title>
</head>

<body>
    <pre>                                                                                    
                          %@@@@@@#**%*=#+++**@@%@%@@@@#                             
                      %@@%%=:.  .   ..  .  .......:::-=*%%#@%                       
          %%%@%%   *%@#=::=.                       . . ..:+%*%*   %%%%%             
       #%%*::%@@@@@%:....                                 ...=++*%@+:::%#           
      %%*..#@#+%@@%. .   .                                 .  ..=%*%*:.:-%*         
     %%+...::=%@%:.  := -%.   .=:  .=.            :#.        .. :.:*%%-..+@%        
     %@-*%%:*@%#*.. #+. **    =%:  :#             .%:          . .::::-+=%%@        
     %@%@@%+@#:%: .:%. .%= .  =*...:%:-::::::.::::.*=. .   .#%.  ...:-+=%*@%        
     %@@%%%@=.#%:..%=...%-..::**----@-============-+%=::-:..:%=     .:#@%+@@        
     %@%%@@#.*#:::+@---=%+====%*====%+=============**%====-=-#%..... .%@@=*@        
     %@%@*@==@=:==%*====%+====%*====%*=============*=%*=======@+--::::**@@%%        
      @@*%*=%%+==+@====*%=====%*====*%=============*=*#=======#%===::=-%=@@@        
      %%*%+=@#===#*====+@*====%*=====%+===========+*=*#+=======%+===--:*=+@%        
     #@*%%==@*===%*=====%*====*%=====%*===========*==*#========%+====++=+.%@        
     #%=%*=+%====%======#%+====@*====+%==========+===+%========##====*#+#-+%        
     #%=%%=*%====%======+@*====*%=====%==========+===#*========%*-=+=#*=%-=@        
     %%=%#=*%+==+@*======%%====+#%====%+=====*+======%+=======*@*==#+#=+#=:@        
     @%=%#==@*===@%===--=%%@%#%#**%%#*##*====:=+-=%#+#====*%#%%#===%%==#+=:%        
     %@++@#=%#+-+*@=:==+:.-:==--==::-:-.::.:::=+=::*%*%***##*#*#+=*@=*====#@        
      %*=+%%*%%-. ==*%%*%%#*%*:::.-+ .       .:.. .-+%#=-    . .*#%%-=====#%        
      %@=====*=.    ==*@@@@@@=%%=:.:+        =..:-#@@%%@%%%:  .: .++======@@#       
    %%@@*====*#:.  -@@@@@@@@@@@%*:::         .:.%@@@@@@@@@%%@%.  .**=====*%#+%@*    
#%%%--@@%====*%=. +@@@@@@@@%@@@@#.            ..+=%@@@@@@@@@@@*   **=====*@%.:-@%   
#%+...=%#=====@*: ...::+@@@%@@@%:                 +@@@@@@@@*%%@: .#*=====*%#. . -@% 
*@:.:.:*@=====%%=.      *@@@@@%#                  .@@@@@@##..-:  .%*=====%%%:..  :@#
  *=...=@+====#@=.       :#%%*:                     =@@%#-.      .%*=====%%%: ..%@% 
    %=.-@*====*@=                                                :@+====+@@**%@@%   
     %%=@%====+@*                                                -%======%@@% %     
      %@@@====*@%.                   :=:...                      =%=====*%##        
        @@*===*@%.                    ::..::                    .**=====%#*         
        %@*===+@@-                    ...::.                    .%+=====%+*         
        #%@===+%@*                    .:..                      =%=====+@=+         
        %%@====*@%.                                            .+#=====#%-*         
        %%@%===+@@:                   .-::..                   .%*=====#%=%         
        %#@*====#@*.                #:.  .-+=                 .#@*=====%#=%         
       #%#@*====+@@%:.               *+*****-                =%@%+=====@*=%         
        %+@#=====%@=##:                                    :*=+@%=====+@+-%         
        %*@%=====*%@@*%%:                               .:=:.=@%======*@==%*        
        %*%@++===*%%@@*%@%#.                         .-@+:=+%@%=======*%==%         
        @**@*====*%%@+#%@##%%*= .               ...=*@@==+*%@@#=======%%==%         
        @*=@%=====%@*%@%%%@@@@*@%+::.: .      :**=+@@@%@@%+%@*%=======@#==%*        
        %**@@=====%%*@@@@@@@@@@@+@*:.::--:=***:::-%@@%@@%%#@%+%=======@%==%         
        %++@@=====%*#%@%@%%@@%@@%*#-:-==-:.: ....:%*#@@@+%@@**%======%@%==%*        
        @**@@=====#*#%@*%%%@@@@@+:-=*:...: ........-%+@%**@%*#%======%@*==%*        
        @++@@+====#*++@*%%%@%=--::.::..............:: :@@%@#*%+======%@===%         
        @*=@@+====#*=*@++:.:  --:..:..........:..=:    .**@+%%+======%@*==%#        
       #%#+@@+====**=*@*: .  .      .....:..::.=-..     :+*=*@+======@@@==#         
       @%==@@+====*#==@%:                               .%*=*%======+@@%*=#%        
       @%++@@=====*#==*@=                               :%==#%======#@@@%*=%        
       @#=%@@+====#%==*@*                               =#==%#======@@%@@%*#@       
    </pre>

    <div><a href="/"><b>↩</b> RETURN</a></div>
</body>

<style>

  div {
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
    margin-inline: auto;
  }

  a:hover {
    color: red;
    cursor: pointer;
  }

  a {
    color: black;
    text-decoration: none;
  }

  pre {
    display: block;
    margin: 36px auto;
    white-space: pre;
    font-family: monospace;
    font-size: 6px;
    line-height: 6px;
    letter-spacing: unset;
    transform: unset;
    overflow-y: hidden;
    text-align: center;
    width: fit-content;
  }

  pre:hover {
    cursor: grab;
  }

  @media all and (width > 700px) {
    pre {
      font-size: 8px;
      line-height: 8px;
    }
  }
  @media all and (width > 1000px) {
    pre {
      font-size: 12px;
      line-height: 12px;
    }
  }

</style>
</html>