---
import MusicLayout from "../../../layouts/MusicLayout.astro";
import { getCollection, render } from "astro:content";

import Playlist from "../../../components/Playlist.astro";

const musicLogs = await Promise.all(
    (await getCollection("musicLogs"))
        .map(async musicLog => {
            const { Content } = await render(musicLog);
            return {
                musicLog,
                Content
            };
        })
);

---

<MusicLayout>

    <h1
        style="margin-bottom: 2em">2021</h1>
                    
    {musicLogs.toReversed().map(({ musicLog, Content }, playlistIndex) => {
        return (
            <details open={playlistIndex === 0}>
                <Playlist
                    title={musicLog.data.title}
                    date={musicLog.data.date}
                >
                    <Content/>
                </Playlist>
            </details>
        );
    })}
    
</MusicLayout>